
// header nav goes here

.header-topBar {
    background-color: $background;
    width: 100%;
    font-family:$basefont;
    color:  rgba(0, 0, 0, 0.7);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: left;
}

.topBar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    .text-topBar {
        width: 70%;
    }
    .image-topBar {
        width: 30%;
        margin: auto 0;
        padding: 5px;
    }
}


.header-topBar-phoneCall,
.header-topBar-mail,
.header-topBar-language,
.topBar-nav {
    display: flex;
    flex-direction: row;
}

.icon-topBar {
    margin: auto 0;
}

.topBar-nav {
    justify-content: space-between;
    margin: auto 0;
}

.topBar-nav li a {
    text-decoration: none; 
    position: relative; 
    margin-left: 15px;
}   

.topBar-nav a:hover::after {
    position: absolute;
    content: '';
    height: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    width: 100%;
    background: $primary;
}



// header nav info goes here


.header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
    .image-logo {
        width: 25%;      
    }
}


.header-info h6 {
    color:  rgba(39, 39, 39, 0.7);
    font-size: 12px;
    letter-spacing: 0.45px;
    text-align: left;  
    margin: 0;  
}

.header-info p {
    color:  rgba(0, 0, 0, 0.7);
    font-size: 10px;
    letter-spacing: 0.4px;
    text-align: left;
}

.header-info-address,
.header-info-time {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
    .image-icon {
        width: 10%;
    }
}

.header-button {
    color: $primary;
    text-transform: uppercase;
    border: 2px solid $primary;
    background-color:  rgba(162, 200, 252, 0);
    font-size: 10px;
    padding: 0px 10px 0px 10px;
    width: 20%;
}



// header menu goes here

.header-nav,
.header-nav-menu, 
.header-nav-controls, 
.header-nav-socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}


.header-nav {
    background-color: $primary;
    padding: 0px 15px;
    margin: 0 auto;
    a {
        font-size: 12px;
        color: $secondary;
        text-transform: uppercase;
    }
}

.header-nav-menu {
    width: 70%; 
    padding: 15px 20px 15px 0px;   
}

.header-nav-controls {
    color: $secondary;
    justify-content: space-around;
    width: 15%;
    padding: 15px 20px;
}

.header-nav-socialIcons {
    width: 15%;
    margin: 0;
    padding: 15px 0px 15px 20px;
    border-left: 0.2px solid $secondary;
}


// header menu goes here

.header-banner-container {
    padding: 80px 0px;
    button {
        background-color:  #2f87fd;
        color: $secondary;
        width: 107.5px;
        height: 26px;   
        padding: 10px auto;
        border: none;
        font-size: 10px;
    }
}

.header-banner {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(1, 22, 50, 0.45)), url("./../images/banner-image.jpg");
    background-color: rgba(1, 22, 50, 0.45);
    background-size: cover;
    background-position: center;
    color: $secondary;
}


.banner-title  {
    width: 80%;
    h1 {
        font-family: $heading;
        font-size: 50px;
        line-height: 60px;
        text-align: left;
        margin: 0px 0px 30px 0px;
    }
}
    
.banner-title p {
    font-family: $basefont;
    font-size: 12px;
    letter-spacing: 0.45px;
    line-height: 22px;
    text-align: left;
    margin: 0px 0px 50px 0px;
}

