// project section goes here

.services-section-container-p {
    position: relative;
    margin: 80px;
}

.services-section-container-p::before {
    content: 'P';
    font-family: $heading;
    color: $background;
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.section-title::after {
    content: '';
    position: absolute;
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 80px;
    width: 30px;
    background: $primary;
}

.section-subtext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
    p {
        width: 80%;
        color: $basecolor;
        font-family: $secondaryheading;
        font-size: 14px;
        margin: 0;
    }
    button {
        color: $primary;
        background-color: $secondary;
        width: 107.5px;
        height: 26px;   
        padding: 10px auto;
        border: none;
        font-size: 10px;
        padding-left: 0;
        align-content: flex-end;
    }
}

.project-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    img {
        width: 32%;
    }
}

@media (max-width: 480px) {

    .services-section-container-p {
        margin: 40px;
    }
    
	.project-gallery {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
	}

	.project-gallery img {
		flex-direction: column;
        padding: 25px 0;
        width: 80%;
        margin: 0 auto;
    }
    
    .section-subtext {
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        margin: 0 auto;
        button{
            margin: 20px auto;
        }  
    }
    
    .project-section .section-subtext p {
        width: 100%;
    }
}