// services section goes here


.services-section {
    background-color: $background;
    padding: 80px 0px;
}

.services-section-container {
    position: relative;
}

// this is a repeating styling

// note to self, make a mixin? 

.section-title {
    margin: 0 auto;
    font-family: $heading;
    text-align: center;
    position: relative;
    h3 {
        font-size: 12px;
        color: $headingcolor;
    }
    h2 {
        font-size: 20px;
        color: $primary;
        padding-bottom: 30px;
    }
}

// this is a repeating styling with adjustments

.services-section-container::before {
    content: 'S';
    font-family: $heading;
    color: $secondary;
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.section-title::after {
    content: '';
    position: absolute;
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 80px;
    width: 30px;
    background: $primary;
}

//  repeating styling ends here

.services-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   .box {
        background-color: $secondary;
        font-family: $basefont;
        width: 31%;
        padding: 25px;
		margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}


@media (max-width: 768px) {

	.services-gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
	}
	.services-gallery .box {
		flex-direction: column;
        padding: 25px;
        width: 48%;
        display: inline-block;
        img {
            width: 10%;
        }
	}
}


@media (max-width: 480px) {
    
	.services-gallery {
        flex-direction: column;
        // justify-content: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        
	}

	.services-gallery .box {
		flex-direction: column;
        padding: 25px;
        width: 100%;
        display: inline-block;
        img {
            width: 10%;
        }
    }
}

.services-gallery h4 {
    color:  rgba(39, 39, 39, 0.7);
    font-size: 12px;
    letter-spacing: 0.55px;
    margin-bottom: 0;
}

.services-gallery p {
    color:  rgba(1, 0, 0, 0.7);
    letter-spacing: 0.4px;
    font-size: 10px;
    line-height: 24px;
}

.box img {
    margin: 0 auto;
    width: 15%;
    padding-bottom: 20px;
}


