// partner section goes here

.partner-section {
    background-color: $primary;
    padding: 30px 0px;
}

.partner-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
        padding: 30px;
        width: 100%;
    }
}