// partner section goes here

.partner-section {
    background-color: $primary;
    padding: 30px 0px;
}

.partner-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
        padding: 30px;
    }
}

@media (max-width: 480px) {
    
	.partner-logo {
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
	}
}